body {
  margin: 0;
  min-width: 250px;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}
/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 10px 10px 15px 0px;
  list-style-type: none;
  background: #eee;
  color: #000;
  font-size: 3vw;
  transition: 0.2s;
  width: 100%;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 5px 5px 5px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  background-color: #f44336;
  color: white;
  text-align: left;
  width: 100%;
    background: #28c7fa;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the "Add" button */
.addBtn {
  margin-left:28vw;
  width: 40%;
  background: #7a57d1;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 3vw;
}
.addBtn:hover {
  background-color: #0da574;
}
.prodname{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1vw;

}
#prodname,#myInput{
  width: 40%;
  box-sizing : border-box;
  padding: 1vw;
}
.abcd{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  color: #fff;
  background: #28c7fa;
}
footer{
display: flex;
direction: ltr;
justify-content: space-around;
width: 100%;
background-color: #fff;
position: fixed;
bottom: 0;

}
footer button{
    width: 100%;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 3vw;
    flex-direction: row;
    padding-left: 14vw;
    padding-right: 14vw;

}
#whatsapp{
  background: #25D366;
}
#mail{
  background: #D44638;
}
h2{
  color: #fff;
  margin-top: -1vw;
  margin-bottom: -0.5vw;
  text-decoration: underline;
}
