body{
    font-family: "Noto Sans Kannada Regular", comic;
    font-size: 2vw;
    line-height: 1.11em;
    background-color: #010101;
    color:#ffffff;
}
header{

    border: 0.4vw solid #fff;
    border-radius: 2vw;
    height: 10vw;
    padding: 0;

}
#angdihesr{
     float: left;
     font-size: 5vw;
     width:60%;

}
#right{
    float: right;
    height: 100%;

}

#home{
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#sdiv{
    display:flex;
    flex-direction: column;
}
.items{
    border: 1px solid black;
    padding: 2em 2em;
    margin: 1em;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
}
.items{
    border: 1px solid #ffffff;

}
.catimg{

     height: 2em;
     width: 0.1em;
}
#abcdrt{
    display: none;
}
#xmark{
    display: none;
}
#frame{
    display: block;
    background-color: aquamarine;
}
