body { font-family: "Noto Sans Kannada", sans-serif; font-size: 19.0px; line-height: 1.11em; }
body {
  background-image: url('img/beach.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
img {
  opacity: 0.6;
}

img:hover {
  opacity: 1.0;
}