/*Remove Blue from links*/
a { color: inherit;
    text-decoration: none;}
/*Style entire body*/
body{
    font-family: "Noto Sans Kannada Regular", serif;
    background-color: #0081E9;
    color:#fbf9fa;
}
/*Styling the header*/
header{
  display: flex;
  justify-content: space-between;
  font-size: 7vw;
  background-color: #00237D;
  margin-bottom: 1vw;
}
/*Store name*/
#sname{
  padding: 1vw;
  margin: 1vw 0vw 1vw 0vw;
}
/*Cheela*/
#bag{
  height: 9vw;
  padding: 4vw 3vw 2vw 2vw;
}
/*Each row of 3 cards are made into a new column*/
#home{
    /*height: 90vw;*/
    display: flex;
    flex-direction: column;
}
/*Each card added are placed in the row*/
.row{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin-top: 0;
    margin-bottom: 4vw;
}
/*Syling each card*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 30%;
  margin: auto;
  text-align: center;
  font-size: 3vw;
}
/*Making img take up entire card width*/
.card img{
  width :  100%;
}
/*Dropdown content*/
#NoItemsAdded {
    margin: 0vw 0vw 0vw -20vw;
    padding: 4vw 1vw 2vw 2vw;
}
